:root {
    /* CSS variables: https://developer.mozilla.org/en-US/docs/Web/CSS/var */
    --primary-color: #131921;
    --secondary-color: #fff;
    --error-color: rgba(194, 0, 0, 0.71);
}

body {
    background-color: #bd2130;
    display: flex;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: cursive;
    color: var(--secondary-color);
}

.container {
    background-color: #bb7c4c;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h2 {
    text-align: center;
    color: #fe9e97;
    font-size: 2rem;
}

.user-options {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.user-option {
    flex: 1;
    height: 100px;
    border: 1px solid #000;
    text-align: center;
    line-height: 100px;
    cursor: pointer;
}

.selected {
    background-color: lightblue;
}

#username-fields {
    display: none;
}

#username-fields.show {
    display: block;
}

/* Adjust the styling as needed */
.form-group {
    margin-bottom: 15px;
}

.tab-pane {
    padding: 15px;
}
