/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
:root {
    --primary-color: #131921;
    --secondary-color: #fff;
    --error-color: rgba(194, 0, 0, 0.71);
}

body {
    background-color: #f5f5f5;
    margin: 0;
    padding: 0 50px;
}

.background {
    background-color: #eaeded;
    margin: 0;
    counter-reset: section;
    padding: 0 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 0 20px;
    height: 100px;
}

.header_logo {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.header_logo img {
    height: 60px;
    width: auto;
    margin-right: 10px;
}

.header_home {
    font-size: 36px;
    line-height: 40px;
    text-decoration: none;
    color: var(--secondary-color);
    margin-left: 20px;
}

.task-section {
    margin: 20px;
}

.task-input {
    display: flex;
    align-items: center;
}

.task-input input[type="text"] {
    flex: 1;
    padding: 5px;
}

.task-input button {
    background: #aed9ff;
    padding: 5px 10px;
    border-radius: 3px;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    cursor: pointer;
    margin-left: 10px;
}

.task-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.task-table th,
.task-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid var(--primary-color);
}

.task-table .task-id {
    width: 10%;
}

.task-table .task-title {
    width: 70%;
}

.task-table .task-buttons {
    width: 20%;
    text-align: right;
}

.task-button.complete {
    margin-right: 5px;
    color: green;
}

.task-button.delete {
    margin-left: 5px;
    color: red;
}


.good-job-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: none;
}

.good-job-popup h3 {
    margin: 0 0 10px;
}

.good-job-popup img {
    max-width: 100px;
}
